project_20231113103020/src/main/mule/Process Definition.xml
<?xml version="1.0" encoding="utf-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd       http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd       http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd       http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd       http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd       http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
 <flow doc:id="a69c7a97-820f-11ee-a1ce-70a8d32dad24" name="Process_Definition">
  <http:listener config-ref="HTTPConnection" doc:id="a69c7a98-820f-11ee-b57e-70a8d32dad24" doc:name="HTTP Listener" path="/teste"/>
  <ee:transform doc:id="a69c7a99-820f-11ee-a452-70a8d32dad24" doc:name="">
   <ee:message/>
   <ee:variables/>
  </ee:transform>
  <choice>
   <when expression>
    <db:select config-ref="JDBCConnection" doc:name="Select" maxRows="10" queryTimeout="10">
     <db:sql>
      <![CDATA[Select * From TestDB]]>
     </db:sql>
     <db:input-parameters>
      <![CDATA[#[{}]]]>
     </db:input-parameters>
    </db:select>
   </when>
   <when expression>
    <ee:transform doc:id="a69c7a9a-820f-11ee-8abb-70a8d32dad24" doc:name="Parse JSON">
     <ee:message>
      <ee:set-payload>
       <![CDATA[%dw 2.0
output application/xml
---
payload
]]>
      </ee:set-payload>
     </ee:message>
    </ee:transform>
    <ee:transform doc:id="a69c7a9b-820f-11ee-9ad6-70a8d32dad24" doc:name="Render JSON">
     <ee:message>
      <ee:set-payload>
       <![CDATA[%dw 2.0
output application/json
---
payload
]]>
      </ee:set-payload>
     </ee:message>
    </ee:transform>
   </when>
  </choice>
  <ee:transform doc:id="a69c7a9c-820f-11ee-a11f-70a8d32dad24" doc:name="Render JSON">
   <ee:message>
    <ee:set-payload>
     <![CDATA[%dw 2.0
output application/json
---
payload
]]>
    </ee:set-payload>
   </ee:message>
  </ee:transform>
 </flow>
</mule>
